In [1]:
import pandas as pd
import datetime
today_date= datetime.datetime.today()
today_date

datetime.datetime(2023, 7, 25, 23, 43, 18, 58819)

In [2]:
today_date- datetime.timedelta(2)

datetime.datetime(2023, 7, 23, 23, 43, 18, 58819)

In [3]:
days= [today_date- datetime.timedelta(x) for x in range(0,15)]
days

[datetime.datetime(2023, 7, 25, 23, 43, 18, 58819),
 datetime.datetime(2023, 7, 24, 23, 43, 18, 58819),
 datetime.datetime(2023, 7, 23, 23, 43, 18, 58819),
 datetime.datetime(2023, 7, 22, 23, 43, 18, 58819),
 datetime.datetime(2023, 7, 21, 23, 43, 18, 58819),
 datetime.datetime(2023, 7, 20, 23, 43, 18, 58819),
 datetime.datetime(2023, 7, 19, 23, 43, 18, 58819),
 datetime.datetime(2023, 7, 18, 23, 43, 18, 58819),
 datetime.datetime(2023, 7, 17, 23, 43, 18, 58819),
 datetime.datetime(2023, 7, 16, 23, 43, 18, 58819),
 datetime.datetime(2023, 7, 15, 23, 43, 18, 58819),
 datetime.datetime(2023, 7, 14, 23, 43, 18, 58819),
 datetime.datetime(2023, 7, 13, 23, 43, 18, 58819),
 datetime.datetime(2023, 7, 12, 23, 43, 18, 58819),
 datetime.datetime(2023, 7, 11, 23, 43, 18, 58819)]

In [4]:
data= pd.DataFrame(days)
data.columns= ['Day']
data.head()

                         Day
0 2023-07-25 23:43:18.058819
1 2023-07-24 23:43:18.058819
2 2023-07-23 23:43:18.058819
3 2023-07-22 23:43:18.058819
4 2023-07-21 23:43:18.058819

In [5]:
data['day']= data['Day'].dt.day
data.head()

                         Day  day
0 2023-07-25 23:43:18.058819   25
1 2023-07-24 23:43:18.058819   24
2 2023-07-23 23:43:18.058819   23
3 2023-07-22 23:43:18.058819   22
4 2023-07-21 23:43:18.058819   21

In [6]:
data['weekday']= data['Day'].dt.day_name()
data.head()

                         Day  day   weekday
0 2023-07-25 23:43:18.058819   25   Tuesday
1 2023-07-24 23:43:18.058819   24    Monday
2 2023-07-23 23:43:18.058819   23    Sunday
3 2023-07-22 23:43:18.058819   22  Saturday
4 2023-07-21 23:43:18.058819   21    Friday

In [7]:
dict= {
    'Monday':1,
    'Tuesday':2,
    'Wednesday':3,
    'Thursday':4,
    'Friday':5,
    'Saturday':6,
    'Sunday':7
}

In [8]:
data['weekday_ordinal']= data['weekday'].map(dict)
data.head()

                         Day  day   weekday  weekday_ordinal
0 2023-07-25 23:43:18.058819   25   Tuesday                2
1 2023-07-24 23:43:18.058819   24    Monday                1
2 2023-07-23 23:43:18.058819   23    Sunday                7
3 2023-07-22 23:43:18.058819   22  Saturday                6
4 2023-07-21 23:43:18.058819   21    Friday                5

In [9]:
data['weekday'].value_counts()

Tuesday      3
Monday       2
Sunday       2
Saturday     2
Friday       2
Thursday     2
Wednesday    2
Name: weekday, dtype: int64

In [10]:
weekday_count= data['weekday'].value_counts().to_dict()
weekday_count

{'Tuesday': 3,
 'Monday': 2,
 'Sunday': 2,
 'Saturday': 2,
 'Friday': 2,
 'Thursday': 2,
 'Wednesday': 2}

In [11]:
data['weekday_count']=data['weekday'].map(weekday_count)
data.head()

                         Day  day   weekday  weekday_ordinal  weekday_count
0 2023-07-25 23:43:18.058819   25   Tuesday                2              3
1 2023-07-24 23:43:18.058819   24    Monday                1              2
2 2023-07-23 23:43:18.058819   23    Sunday                7              2
3 2023-07-22 23:43:18.058819   22  Saturday                6              2
4 2023-07-21 23:43:18.058819   21    Friday                5              2

In [12]:
data['month']= data['Day'].dt.month
data.head()

,Day,day,weekday,weekday_ordinal,weekday_count,month
0,2023-07-25 23:43:18.058819,25,Tuesday,2,3,7
1,2023-07-24 23:43:18.058819,24,Monday,1,2,7
2,2023-07-23 23:43:18.058819,23,Sunday,7,2,7
3,2023-07-22 23:43:18.058819,22,Saturday,6,2,7
4,2023-07-21 23:43:18.058819,21,Friday,5,2,7

In [13]:
data['year']= data['Day'].dt.year
data.head()

,Day,day,weekday,weekday_ordinal,weekday_count,month,year
0,2023-07-25 23:43:18.058819,25,Tuesday,2,3,7,2023
1,2023-07-24 23:43:18.058819,24,Monday,1,2,7,2023
2,2023-07-23 23:43:18.058819,23,Sunday,7,2,7,2023
3,2023-07-22 23:43:18.058819,22,Saturday,6,2,7,2023
4,2023-07-21 23:43:18.058819,21,Friday,5,2,7,2023

In [14]:
data['hour']= data['Day'].dt.hour
data.head()

,Day,day,weekday,weekday_ordinal,weekday_count,month,year,hour
0,2023-07-25 23:43:18.058819,25,Tuesday,2,3,7,2023,23
1,2023-07-24 23:43:18.058819,24,Monday,1,2,7,2023,23
2,2023-07-23 23:43:18.058819,23,Sunday,7,2,7,2023,23
3,2023-07-22 23:43:18.058819,22,Saturday,6,2,7,2023,23
4,2023-07-21 23:43:18.058819,21,Friday,5,2,7,2023,23

In [15]:
data['minute']= data['Day'].dt.minute
data.head()

,Day,day,weekday,weekday_ordinal,weekday_count,month,year,hour,minute
0,2023-07-25 23:43:18.058819,25,Tuesday,2,3,7,2023,23,43
1,2023-07-24 23:43:18.058819,24,Monday,1,2,7,2023,23,43
2,2023-07-23 23:43:18.058819,23,Sunday,7,2,7,2023,23,43
3,2023-07-22 23:43:18.058819,22,Saturday,6,2,7,2023,23,43
4,2023-07-21 23:43:18.058819,21,Friday,5,2,7,2023,23,43

In [16]:
data.drop(['Day'], axis=1, inplace=True)

In [17]:
data.head()

   day   weekday  weekday_ordinal  weekday_count  month  year  hour  minute
0   25   Tuesday                2              3      7  2023    23      43
1   24    Monday                1              2      7  2023    23      43
2   23    Sunday                7              2      7  2023    23      43
3   22  Saturday                6              2      7  2023    23      43
4   21    Friday                5              2      7  2023    23      43

In [18]:
x= data.drop(['weekday'], axis=1)
y= data['weekday']
x.head()

   day  weekday_ordinal  weekday_count  month  year  hour  minute
0   25                2              3      7  2023    23      43
1   24                1              2      7  2023    23      43
2   23                7              2      7  2023    23      43
3   22                6              2      7  2023    23      43
4   21                5              2      7  2023    23      43

In [21]:
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()
x_scaled= scaler.fit_transform(x)

In [23]:
from sklearn.model_selection import train_test_split as tts
x_train, x_test, y_train, y_test= tts(x_scaled, y, test_size=0.3, random_state= 100)

In [25]:
from sklearn.linear_model import LogisticRegression as LR
lr= LR()
lr.fit(x_train, y_train)

LogisticRegression()

In [30]:
pred= lr.predict(x_test)
pred

array(['Saturday', 'Monday', 'Friday', 'Friday', 'Friday'], dtype=object)

In [28]:
lr.score(x_test, y_test)

0.2

In [31]:
from sklearn.metrics import classification_report
print(classification_report(pred, y_test))

              precision    recall  f1-score   support

      Friday       0.00      0.00      0.00         3
      Monday       1.00      1.00      1.00         1
    Saturday       0.00      0.00      0.00         1
      Sunday       0.00      0.00      0.00         0
    Thursday       0.00      0.00      0.00         0
   Wednesday       0.00      0.00      0.00         0

    accuracy                           0.20         5
   macro avg       0.17      0.17      0.17         5
weighted avg       0.20      0.20      0.20         5

C:\Users\DIBYOJIT\AppData\Local\RStudio\ctx\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\DIBYOJIT\AppData\Local\RStudio\ctx\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\DIBYOJIT\AppData\Local\RStudio\ctx\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\DIBYOJIT\AppData\Local\RStudio\ctx\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\DIBYOJIT\AppData\Local\RStudio\ctx\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\DIBYOJIT\AppData\Local\RStudio\ctx\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [32]:
from sklearn.tree import DecisionTreeClassifier as DTC
dc = DTC(class_weight='balanced')
dc.fit(x_train, y_train)

DecisionTreeClassifier(class_weight='balanced')

In [35]:
y_pred= dc.predict(x_test)
y_pred

array(['Saturday', 'Monday', 'Thursday', 'Thursday', 'Thursday'],
      dtype=object)

In [36]:
dc.score(x_test, y_test)

0.4